.container{
    position: relative;
}
body{
    background-image: url("./pictures/portfolio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.links{
    font-size: 20 px;
    float: right;
    font-size: 25px;
}
h1{
font-size: 40px;
border-style: inset;
border-width: 8px;
padding: 20px;
width: fit-content;
text-align: justify;
margin-top: 10px;
}

.line1{
  font-size: 20px;
  }

.line2{
      font-size: 20px;
  font-style: normal;
  }
.line3{
        font-size: 20px;
    font-style: normal;
  }
.line4{
  font-size: 25px;
  font-style: italic;
  border: solid;
  border-color: white;
  border-width: 8px;
  background-color:cornsilk;
  width: fit-content;
}
